@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
  width: 960px;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; /* Asegura que la barra de navegación esté en la parte superior */
  background: #1E1E1E;
}
.navbar.dropdown-active {
  overflow: hidden; /* Evita que el contenido se desborde cuando el DropdownButton está activo */
}

body {
  margin: 0;
  display: grid;
  place-content: center;
  height: 100%;
  background-color: #1E1E1E;
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center ;
  background-repeat: repeat;
  background: linear-gradient(17deg, rgb(3, 3, 3), rgb(109, 13, 118), orange) ;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
         Roboto, Oxygen-Sans, Ubuntu, Cantarell,
         "Helvetica Neue", sans-serif;
} 
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-flow: dense;
}

.card {
  width: 250px;
  height: 300px;
}
